---
import { SITE } from '~/utils/config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src="https://www.happywired.com/wp-content/uploads/2017/10/HappyWired-Logo-50-Alt.png" srcset="https://www.happywired.com/wp-content/uploads/2017/10/HappyWired-Logo-50-Alt.png 1x, https://www.happywired.com/wp-content/uploads/2017/10/HappyWired-Logo-100-Alt.png 2x" width="181" height="50" style="max-height: 50px; height: 50px;" alt="HappyWired Logo" data-retina_logo_url="https://www.happywired.com/wp-content/uploads/2017/10/HappyWired-Logo-100-Alt.png" class="fusion-sticky-logo" data-logo-height="50" data-logo-width="180.5">
  <!-- {SITE?.name} -->
</span>
